@import '../../styles/variables.scss';

.articleGroup {
    margin-top: 160px;
    max-width: 1588px;
    &__title {
        padding-left: $app-desktop-indent;
    }
    &__wrapper {
        margin-top: 124px;
        display: grid;
        width: 100%;
        grid-template: minmax(auto, 481px) minmax(auto, 410px) / 1fr;
        grid-auto-rows: max-content;
        row-gap: 100px;
    }
}
    