$app-black-color: #141414;
$app-adaptive-indent: (
    max: 262px,
    1900: 150px,
    1200: 40px,
    990: 30px,
    768: 20px
);
$app-title-size: (
    max: 48px,
    1900: 44px,
    1200: 40px,
    990: 28px,
    768: 24px
);
$app-text-size: (
    max: 18px,
    1900: 17.5px,
    1200: 17px,
    990: 15.5px,
    768: 14px
);


